/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/countries
/app/connections.php
/.env
/.env.example.new
Homestead.json
Homestead.yaml
npm-debug.log
current_day_json.json
/public/videos/uploads
/public/images/uploads
/ffmpeg